__pycache__/hgreasepencil_state.cpython-311.pyc
.vscode/settings.json
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak1.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak2.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak3.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak4.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak5.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak6.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak7.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak8.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak9.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak10.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak11.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak12.hdanc
otls/backup/Katelyn_Itano.hGreasePencil.1.0_bak13.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak1.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak2.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak3.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak4.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak5.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak6.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak7.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak8.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak9.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak10.hdanc
otls/backup/kitano26.hGreasePencil.1.0_bak11.hdanc
